@model CartViewModel

@if (Model.Items.Any())
{
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <h2>Twoj koszyk</h2>
            <h3></h3>
            <p></p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Total Price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Items)
                    {
                        <tr>
                            <td class="text-left col-md-4">@line.ProductName</td>
                            <td class="text-left col-md-1">@line.UnitPrice</td>
                            <td class="text-left col-md-1">@line.Quantity</td>
                            <td class="text-left col-md-1">@line.TotalPrice</td>
                            <td class="col-md-1">
                                <a asp-action="delete" asp-route-productId="@line.ProductId" class="glyphicon glyphicon-remove text-danger remove"></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Suma:</td>
                        <td class="text-right">
                            @Model.TotalPrice;
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center">
                @*<a class="btn btn-primary" href="@Model.ReturnUrl">Wróć do zakupów</a>*@
                <div class="row">
                    <form asp-action="Create" asp-controller="Orders" method="post">
                        <button type="submit" class="btn btn-success">Purchase</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Twoj koszyk jest pusty</p>
}