@model EventDetailsViewModel


<div class="col-lg-4">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">@Model.Name</h4>
            <h6 class="card-title">@Model.Category</h6>
            <h6 class="card-title">@Model.Price</h6>
            <h6 class="card-title">@Model.TicketsCount</h6>
            Tickets:
            @foreach (var ticket in Model.Tickets)
            {
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Id: @ticket.Id</h4>
                        <h6 class="card-subtitle mb-2 text-muted">EvnetId: @ticket.EventId</h6>
                        <h6 class="card-subtitle mb-2 text-muted">@ticket.Seating</h6>

                    </div>
                </div>
            }
        </div>
    </div>
</div>