@using nwEventoMVCa.Core.DTO;
@model EventListWithPagination
@{
    var isAdmin = User.IsInRole(RoleDto.Admin.ToString());
}

@if (isAdmin)
{
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Events" asp-action="Add" class="btn btn-primary">
                <i class="fas fa-plus"></i>&nbsp; Add Event
            </a>
        </div>
    </div>
}
<br />
<div class="row">
    @{
        foreach (var even in Model.EventViewModels)
        {
            @Html.Partial("EventSummary", even)
        }
    }
</div>
<div class="row">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-left m-1">
        ssdsdsd
    </div>
</div>


@*<div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-group">
                        @foreach (var even in Model)
                        {
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">@even.Name</h4>
                                        <h6 class="card-subtitle mb-2 text-muted">@even.Id</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">@even.Category</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Price: @even.Price</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">TicketsCount: @even.TicketsCount</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">AvailableTickets: @even.AvailableTicketsCount</h6>
                                        @if (isAdmin)
                                        {
                                            <a asp-action="Update" asp-route-id="@even.Id" title="Update event" class="card-link">Update</a>
                                        }
                                        @if (isAdmin)
                                        {
                                            <a asp-action="Details" asp-route-id="@even.Id" title="Details event" class="card-link">Details</a>
                                        }
                                        @if (isAdmin)
                                        {
                                            <a asp-action="Delete" asp-route-id="@even.Id" title="Delete event" class="card-link">Delete</a>
                                        }
                                        @if (even.AvailableTicketsCount > 0)
                                        {
                                            <a asp-action="purchase" asp-route-id="@even.Id" title="Purchase ticket" class="btn btn-success">Attend</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@